<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="text-center m-5">    
        <h1 class="m-5">This is a Classroom C{{ room }}</h1>
        <form action="/classroom/" method="POST">
            <button type="submit" class="btn btn-primary p-2" formaction="/start">Start Attendance</button>
        </form>
    </div>
</body>
</html>