<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="text-center p-5">
        <h1 class="text-center m-5">Attendance System</h1>
        <h2 class="mt-5 mb-3">Classroom</h2>
        <form action="/classroom/" method="POST">
            <button type="submit" class="btn btn-primary p-2" value="304" formaction="/classroom/304">C304</button>
        </form>
    </div>
</body>
</html>